* {
    margin: 0;
    padding: 0;
}

img {
    width: 500px;
}

.container, .services {
    display: flex;
    justify-content: space-evenly;
    height: 70vh;
}

.service-writeup {
    width: 49%;
}

.service-images {
    border: 5px solid yellow;
}

/* practice area */
.practice {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.box {
    height: 100px;
    width: 200px;
    border: 2px solid yellow;
    box-shadow: -25px -20px green;
    margin: 0 auto;
}
.box2 {
    height: 100px;
    width: 200px;
    border: 2px solid yellow;
    box-shadow: 25px 20px 10px green;
    margin: 0 auto;
}